@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Absolute Software GmbH<br />
    Jungfernstieg 49<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:abdelkarim.esti@gmail.com">abdelkarim.esti@gmail.com</a><br />
</address>